* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --primary-color:white;
    /* max-width: 1200xp; */
    scroll-behavior: smooth;
    max-width: 1270px;
  }

  @font-face {
    font-family: "gothamSSm";
    src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Light_Web.woff2)
      format("woff2");
    font-weight: "light";
  }

 
  body {
    font-family: "gothamSSm";
    width: 100%;
    height: 100vh;

  }
  /* img{
    position: absolute;
  
    top: 20px;
    z-index: -1;
  } */


  .page-1{
 
     background: url(./model-3-main-hero-a-desktop.jpg) no-repeat center center/cover;
      /* background-size:cover;
      background-position: center; */
      width: 100%;
      height: 120vh;
} 

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    background-color:  transparent;
    padding:35px;
    height: 10vh;
    
  }
 
  .navbar .navbar__mainnav {
    /* margin: 50px; */
    list-style: none;
    display: flex;
    
  }
  .navbar .navbar__mainnav li {
    font-size: 10px;
    margin: 15px;
    font-size: 12px;
    
    
  }
  .navbar__mainnav li a{
   text-decoration: none;
   font-size: 15px;
   color: white;
   font-weight: bold;
  }
  .navbar__mainnav a:hover {
    background-color: rgb(169, 166, 166);
    padding: 0.5rem;
    border-radius: 30%;
    color: var(--primary-color);

    

  }
  svg { 
    width: 100px;
    height:auto;
    font-size: 25px;
    color: var(--primary-color);
    
  }

  header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
   }

  .title {
    
    font-weight: bold;
    text-align: center;
    color:var(--primary-color);
    top:5px;
    font-size: 30px;
  }
  .side_navbar{
      height: 100px;
  }

  .side_navbar__sidenav { 
      position:-webkit-sticky;
      position: sticky; 
      top:0;
      align-self: flex-start;
      
  }
  .side_navbar .side_navbar__sidenav{
   
    list-style: none;
    display: flex;
    flex-direction: column;
    
  }
  .side_navbar .side_navbar__sidenav li {
    font-size: 10px;
    margin: 5px;
    font-size: 12px;
  }

  .side_navbar__sidenav li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    color: white;
    height:40px;
    font-weight: bolder;
    border-left: 3px solid grey;
    border-width: 3px;
    padding-left: 10px;
    line-height: 2.5px;
    margin: 20px 20px;
    opacity: 0.5;
  }
 
  
  .side_navbar__sidenav a:hover {
   
    opacity: 1;
   
}
.chatbox__chatbox{
    float: right;
}
.chatbox__btn{
    float: right;
}
  .logos {
      display:flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 50px;
      padding-left:30px;

    
  }
  .boxes{
      width:70px;
      height: 10px;
      background-color: transparent;
      color: var(--primary-color);
      font-weight: bold;
      padding: 0px 20px;
      margin: 0px 40px;
      font-size:30px;
  }
  .box1{
      margin: 15px;
  }
  .box1parent, .box2parent,.box3parent
  {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: normal; 
      text-align: center;


  }
  .box1down, .box2down,.box3down{
     
     font-size: 10px;
      padding: 20px 10px;
      margin: 10px 50px;
      padding-left: 30px;
     
  }


 
  .box1down{
      padding-top: 5px;
  }
  .order_now {
    color:white;
    text-transform: uppercase; 
    padding:10px 80px;
    border-radius: 15px;
    border: 1px solid white;
    font-weight: bold;
    background-color: transparent;
    margin: 30px;
    
   
  }

  .order_now:hover{
      background-color: white;
      color: black;
  }
  /* .Down_arrow{
      display: flex;
      justify-content: center;
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  } */

  .page-2{
      width: 100%;
      height: 120vh;
      display: flex;
      justify-content: center;
  }
  
  .img2{
      width: 60%;
      height: 100vh;
  }

  p{
    width: 30%;
      height: 100vh;
      padding: auto;
  }

  #safety {
   font-size: 20px;
  }

  
  #Built_for_Safety{
   font-weight: bold;
   font-size: 25px;
  }

  #star{
    font-weight: bold;
  }

#top_safety{
    font-weight: bold; 
}
#p__a{
    color: black;
    text-decoration: none;
}
#p__a::after{
 content: attr(href);
}
 
.page-3{
background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/3489a82e-b19c-457a-86a4-7ea9ac91aa1c/bvlatuR/std/1920x1080/lhd-performance-hero-desktop") no-repeat center center/cover;
background-size:center;
background-position: center;
width: 100%;
height: 120vh;
}



   @media (max-width: 768px) {

    main{

        width: 100%;
        height: 100%;
    }

    .navbar {
        flex-direction: flex;
        
      }
      .navbar .navbar__mainnav {
        flex-direction:  flex;
        
        
    
      }
      .navbar .navbar__mainnav li{
          flex:1;
      }
     section {
      visibility: hidden;
     }
     
     /* .logos{
         flex-wrap: wrap;
     } */
   
  }  
  

  /* @media (min-width: 600px)
.tds-component-preview, :root {
    --tds-modal--height: auto;
    --tds-modal--width: 772px; */

  /* @media (min-width: 900px)
html:not([data-drawer-open]) body:not(.tcl-page--with-first-screen-in-viewport) .tcl-sticky-navigation__nav--desktop {
    --tcl-sticky-navigation-nav-display: flex;
    top: 0;
    z-index: 999; */
